@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about 'Putting Things First' from <a href="https://www.franklincovey.com/the-7-habits/"> The 7 Habits of Highly Effective People®</a>.</p>
</div>
